img {
  width:400px;
  height:250px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: cursive;
  color: hotpink;
  text-shadow: 2px 2px 2px #000;
}

.title h2{
  color: purple;
}
