img {
  width:400px;
  height:250px;
  border: 1px solid black;

}

body{
    text-align: center;
    background-color: lightyellow;
}
.title {

  text-transform: uppercase;
  font-weight: bold;
  font-family: cursive;
  color: hotpink;
  text-shadow: 2px 2px 2px #000;
}

.title h2{
  color: purple;
}

.animals{
  border: 2px double black;
  padding: 20px;
  background-color: gray;
}

.animals h3{
  text-transform: uppercase;
  font-weight: bold;
  font-family: oblique;
  color: pink;
  text-shadow: 1px 1px 1px #000;
}

.bunny{
  border: 1px inset black;
  margin-top: 5px;
  margin-bot: 5px;
  padding: 10px;
  background-color: lightyellow;
  background-image:url("img/bunnyback.jpg");
}

.bunny h3{
  font-style: oblique;
}

.corgi{
  border: 1px inset black;
  margin-top: 10px;
  margin-bot: 10px;
  background-color: lightyellow;
  padding: 10px;
}

.corgi h3{
  font-family: fantasy;
}

.cat{
  border: 1px inset black;
  margin-top: 5px;
  margin-bot: 5px;
  background-color: lightyellow;
  padding: 10px;
}

.cat h3{
  font-style: oblique;
}
